@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject IComponentContext ComponentContext
@implements IDisposable
@using BlazorComponents.ChartObjects

<div ref="@_container" style="width:@Width;height:@Height"></div>

@functions {
    ElementRef _container;
    bool isChartRendered = false;

    [Parameter] bool IsLoading { get; set; }
    [Parameter] ChartOption Options { get; set; }
    [Parameter] string Width { get; set; } = "100%";
    [Parameter] string Height { get; set; } = "600px";

    protected async override Task OnAfterRenderAsync()
    {
        if (ComponentContext.IsConnected)
        {
            await JSRuntime.InvokeAsync<string>("__app.chart.render", _container, IsLoading && isChartRendered ? null : Options, IsLoading);
            isChartRendered = true;
        }
    }

    public void Dispose()
    {
        if (ComponentContext.IsConnected)
        {
            JSRuntime.InvokeAsync<string>("__app.chart.destroy", _container);
        }
    }
}
