@using BlazorComponents.ChartObjects
@inject IJSRuntime JSRuntime
@inject IComponentContext ComponentContext
@implements IDisposable

<div @ref="container" style="width:@Width;height:@Height"></div>

@code {
    [Parameter] bool IsLoading { get; set; }
    [Parameter] ChartOption Option { get; set; }
    [Parameter] string Width { get; set; } = "100%";
    [Parameter] string Height { get; set; } = "600px";

    ElementRef container;

    protected override Task OnAfterRenderAsync()
    {
        if (ComponentContext.IsConnected)
        {
            return JSRuntime.InvokeAsync<object>("__app.chart.render", container, Option, IsLoading);
        }
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        if (ComponentContext.IsConnected)
        {
            JSRuntime.InvokeAsync<string>("__app.chart.destroy", container);
        }
    }
}
