<div class="modal-header">
    <h5 class="modal-title">
        @ChildContent
    </h5>
    @if (OnClose.HasDelegate)
    {
        <button type="button"
                class="close"
                aria-label="Close"
                @onclick="@OnClose">
            <span aria-hidden="true">&times;</span>
        </button>
    }
</div>

@code {
    [Parameter] RenderFragment ChildContent { get; set; }
    [Parameter] EventCallback OnClose { get; set; }
}