@foreach (var segment in TextSegments)
{
    <span class="d-block">@segment</span>
}

@code {
    [Parameter] public string Text { get; set; } = string.Empty;

    IEnumerable<string> TextSegments =>
        string.IsNullOrEmpty(Text) ?
            Enumerable.Empty<string>() :
            Text.Split("\n", StringSplitOptions.RemoveEmptyEntries);
}