<li class="@CssClass" @key="Page">
    <a class="page-link"
       href="javascript:void(0)"
       @onclick="()=>OnPaginate.InvokeAsync(Page)">
        @ChildContent
    </a>
</li>

@code {
    [Parameter] public int Page { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public EventCallback<int> OnPaginate { get; set; }
    [Parameter] public int PageCount { get; set; }
    [Parameter] public int PageIndex { get; set; }

    string CssClass
    {
        get
        {
            string css = "page-item";
            if (Page == PageIndex) { css += " active"; }
            if (Page < 0 || Page > PageCount - 1) { css += " disabled"; }
            return css;
        }
    }
}
