<div @attributes="AdditionalAttributes" class="@GetCssClass()">
    <div class="input-group-prepend">
        <span class="input-group-text" id="search">
            <i class="fas fa-search"></i>
        </span>
    </div>
    <input type="search"
           class="form-control"
           placeholder="Search..."
           aria-label="search"
           aria-describedby="search"
           value="@Text"
           @onchange="e=>OnSearch.InvokeAsync((string)e.Value)" />
</div>

@code {
    [Parameter] public string Text { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> OnSearch { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, object>();

    private string GetCssClass()
    {
        string css = "input-group search-box";
        if (AdditionalAttributes.TryGetValue("class", out var klass))
        {
            css += " " + klass.ToString();
        }
        return css;
    }
}