<div class="input-group search-box mr-4">
    <div class="input-group-prepend">
        <span class="input-group-text" id="search">
            <i class="fas fa-search"></i>
        </span>
    </div>
    <input type="search" class="form-control" placeholder="Search..." aria-label="search" aria-describedby="search" value="@Text" onchange="@Search" />
</div>

@functions {
    [Parameter] string Text { get; set; }
    [Parameter] EventCallback<string> OnSearch { get; set; }

    private Task Search(UIChangeEventArgs e)
    {
        string value = e.Value.ToString();
        return OnSearch.InvokeAsync(value);
    }
}