<div class=@($"input-group search-box {CssClass}")>
    <div class="input-group-prepend">
        <span class="input-group-text" id="search">
            <i class="fas fa-search"></i>
        </span>
    </div>
    <input type="search"
           class="form-control"
           placeholder="Search..."
           aria-label="search"
           aria-describedby="search"
           value="@Text"
           @onchange="e=>OnSearch.InvokeAsync((string)e.Value)" />
</div>

@code {
    [Parameter] public string Text { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> OnSearch { get; set; }
    [Parameter] public string CssClass { get; set; } = string.Empty;
    [Parameter(CaptureUnmatchedValue = true)]
    public IDictionary<string, object> AdditionalAttributes = new Dictionary<string, object>();
}