<CascadingValue Value="@_context">
    @if (IsCard)
    {
        <div class="card border-primary">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    @TabNavs
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    @TabPanes
                </div>
            </div>
        </div>
    }
    else
    {
        <div>
            <ul class="nav nav-tabs" role="tablist">
                @TabNavs
            </ul>
            <div class="tab-content">
                @TabPanes
            </div>
        </div>
    }
</CascadingValue>

@code {
    [Parameter] public RenderFragment TabNavs { get; set; } = default!;
    [Parameter] public RenderFragment TabPanes { get; set; } = default!;
    [Parameter] public string ActiveTabId { get; set; } = string.Empty;
    [Parameter] public bool IsCard { get; set; }

    TabListContext _context = default!;

    protected override void OnInitialized()
    {
        _context = new TabListContext { ActiveTabId = ActiveTabId };
        _context.StateChanged += StateHasChanged;
    }
}
