@implements IDisposable

<CascadingValue Value="@_context">
    @if (IsCard)
    {
        <div class="card border-primary">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                    @TabNavs
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    @TabPanes
                </div>
            </div>
        </div>
    }
    else
    {
        <div>
            <ul class="nav nav-tabs" role="tablist">
                @TabNavs
            </ul>
            <div class="tab-content">
                @TabPanes
            </div>
        </div>
    }
</CascadingValue>

@code {
    [Parameter] RenderFragment TabNavs { get; set; }
    [Parameter] RenderFragment TabPanes { get; set; }
    [Parameter] string ActiveTabId { get; set; }
    [Parameter] bool IsCard { get; set; }

    TabListContext _context;

    protected override void OnInit()
    {
        _context = new TabListContext { ActiveTabId = ActiveTabId };
        _context.StateChanged += StateHasChanged;
    }

    public void Dispose() => _context.StateChanged -= StateHasChanged;
}
