<li class="nav-item">
    <a class="@("nav-link"+ (IsActive?" active":string.Empty))"
       href="javascript:void(0)"
       role="tab"
       @onclick="@(()=>Context.OnChangeActiveTab(TabId))"
       aria-selected="@IsActive.ToString()">
        @ChildContent
    </a>
</li>

@code {
    [Parameter] RenderFragment ChildContent { get; set; }
    [Parameter] string TabId { get; set; }
    [CascadingParameter] TabListContext Context { get; set; }

    bool IsActive => Context.ActiveTabId == TabId;
}