<li class="nav-item">
    <a class="@("nav-link"+ (IsActive?" active":string.Empty))"
       href="javascript:void(0)"
       role="tab"
       @onclick="@(()=>Context.OnChangeActiveTab(TabId))"
       aria-selected="@IsActive.ToString()">
        @ChildContent
    </a>
</li>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public string TabId { get; set; } = string.Empty;
    [CascadingParameter] public TabListContext Context { get; set; } = default!;

    bool IsActive => Context.ActiveTabId == TabId;
}