<div class="@("tab-pane"+(IsActive?" active":string.Empty))" role="tabpanel">@ChildContent</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public string TabId { get; set; } = string.Empty;
    [CascadingParameter] TabListContext Context { get; set; } = default!;

    bool IsActive => Context.ActiveTabId == TabId;
}
